#menu {
	list-style-type: none;
	background-color: #54ACE7;
	height: 3.75em;
}

#menu li {
	display: inline-block;
	line-height: 3.75em;
	padding: 0 1.25em;
}

#menu a {
	color: white;
}

#menu a:hover {
	text-decoration: none;
}

.background-blue {
	background-image: url("../img/header.png");
}

.background-white {
	background-image: url("../img/fond.png");
}

.background-grey {
	background-image: url("../img/fond-article.png");
}

h1 {
	color: white;
}

.img-border {
	background-image: url("../img/fond.png");
	padding: 2em;
	margin-bottom: 3em;
}

.img-margin {
	margin: 1em;
}

#sidebar2 li {
	list-style-image: url('../img/fleche.png');
}

.lien-button {
	background-color: #FF2900;
	border-radius: 5px;
	padding: 0.5em 1.5em;
	color: white;
	text-decoration: none;
	margin: 10em auto;
}

.lien-button:hover {
	text-decoration: none;
	color: white;
}

.sizetitre {
	font-size: 1.3em;
}

.mep-bas {
	font-size: 0.8em;
}

.mep-bas > h4 {
	font-size: 1.3em;
}

.redim-img {
	padding: 0.25em;
}

.background-footer {
	background-image: url('../img/footer.png');
}

.background-footer2 {
	background-image: url('../img/bas-de-page.png');
	height: 5em;
}

.background-footer2 p {
	line-height: 5em;
}

.citation {
	background-image: url('../img/citation.jpg');
}